<ion-menu menuId="menu" contentId="principal">
  <header>
    <ion-button color="dark" (click)="toggleMenu()" slot="start"> <img src="../assets/icon/menu.png" alt="menu"/> </ion-button>
  </header>
  <ion-content color="dark">
    <ion-list>
      <ion-item color="dark"><a href='/home'>Recomendados</a></ion-item>
      <ion-item color="dark"><a href='/search'>Buscar</a></ion-item>
      <ion-item color="dark"><a href='/profile'>Mi Perfil</a></ion-item>
      <ion-item color="dark"><a href='/myActivities'>Mis Actividades</a></ion-item>
      <ion-item color="dark"><a href='/home'>Mis Conversaciones</a></ion-item>
      <ion-item color="dark"><a href='/crear'>Crear Actividad</a></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>