<ion-header>
  <ion-toolbar>
    <ion-title>actividad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <h1 class="ion-text-center">Titulo</h1>

    <hr>

    <ion-grid>
        <ion-row>
            <ion-col>
                <img src="../assets/img/imagen.jpg" alt="imagen actividad">
            </ion-col>
            <ion-col>
                <span class="blep">Fecha:</span> lorem
                <span class="blep">Lugar:</span> lorem
                <span class="blep">Organizador:</span> lorem
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="ion-text-center">
        <ion-button  class="button-danger">Cancelar/Apuntarse</ion-button>

        <hr>

        <ion-button class="button-small">Contactar con el organizador</ion-button>
        <ion-button class="button-small">Más información de la actividad</ion-button>
        <ion-button class="button-small">Ver participantes</ion-button>

    </div>
</ion-content>
