<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content>
<main>
    <h1 class="ion-text-center">{{actividad.nombreActividad}}</h1>

    <hr>

    <ion-grid>
        <ion-row>
            <ion-col>
                <img src="../assets/img/imagen.jpg" alt="imagen actividad">
            </ion-col>
            <ion-col>
                <p><span class="blep">Fecha:</span> {{actividad.fecha}}</p>
                <p><span class="blep">Lugar:</span> {{actividad.lugar}}</p>
                <p><span class="blep">Organizador:</span> lorem </p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div id="botones" class="ion-text-center" >
        <ion-button color="dark" href="/valoracion">Cancelar/Apuntarse/Valorar</ion-button>

        <hr>

        <ion-button expand="block" color="dark" href="/chat">Chat de actividad</ion-button>
        <ion-button expand="block" color="dark" href="/masinfo">Más información de la actividad</ion-button>
        <ion-button expand="block" color="dark" href="/participantes">Ver participantes</ion-button>

    </div>
</main>
</ion-content>
